extends layout

block content
  template#movieEntry
    h4#movieName
      button#movieButton(onclick="nominateMovie(this)") Nominate
  template#nominationEntry
    h4#nominationName
      button#removeButton(onclick="removeNomination(this)") Remove
  h1 The Shoppies
  .card
    .card-block
    h4.card-title Movie Title
    .wrap
      .search
        button.searchButton(id='submitButton' onclick="searchMovies()")
          img.searchImage(src='images/icon.png')
        input.searchTerm(type='text' placeholder='Search for Movies' id='search')
  .left
    .card
      .card-block
      h4.card-title#results Results
      div#movies
      .loading#box
        span.loader
          span.loader-inner
      a#prev(onclick="prevPage()") previous
      a#next(onclick="nextPage()") next
  .right
    .card
      .card-block
        h4.card-title Nominations
        div#nominees
  script(src='javascripts/client.js')


